* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.con {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cal-con {
  width: 25%;
  height: 70%;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
}
.disp {
  width: 100%;
  height: 15%;
  background-color: #4d4a4a;
  box-sizing: border-box;
  border-radius: 5px;
}
.disp > input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 35px;
  text-align: right;
  padding: 5px;
}

.btn-con {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  gap: 10px;
  padding: 10px;
  padding-right: 5px;
  background-color: #222;
}
button {
  width: 100%;
  border-radius: 50%;
  font-size: 25px;
  color: white;
  background-color: #494646;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: cornflowerblue;
}
.offwhite {
  background-color: #cbc2c2;
  color: green;
}
.org {
  background-color: orange;
}
.name {
  color: white;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  padding: 5px;
  animation: zoom 3s linear infinite alternate;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

/* Standard Mobile Screens (e.g. 320px–480px width) */
@media (max-width: 480px) {
  .cal-con {
    width: 90%;
    height: 75%;
  }
  .disp > input {
    font-size: 24px;
    padding-right: 10px;
  }
  button {
    font-size: 20px;
    padding: 10px;
    user-select: none;
  }
  .name {
    font-size: 14px;
  }
}
